#result {
  display: none;
}

.box {
  width: 3in;
  height: 4in;
  border: 1px solid #b9b9b9;
  margin-left: 2in;
  padding-top: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

h3 {
  text-align: center;
}